body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #FFFFFF; /* Цвет основного текста */ 
}
h1 {
    color: #FD98FB; /* Цвет заголовка */
    font-size: 50px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h2 {
    color: #FFFFFF; /* Цвет заголовка */
    font-size: 40px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
p {
    color: #FFFFFF; /* Цвет заголовка */
    font-size: 30px; /* Размер шрифта в пунктах */
    font-family: sans-serif, serif; /* Семейство шрифтов */
}
ul {
    color: #FFFFFF; /* Цвет заголовка */
    font-size: 26px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}